[Unit]
Description="Memcached Exporter for Prometheus"
Documentation=https://github.com/prometheus/memcached_exporter
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/memcached_exporter --memcached.address={{ memcached_addr }}:{{ memcached_port }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
